# IntelliJ
.idea
*.iml
.run

# Tools
.github
.husky
node_modules
.gitattributes
.gitignore
buildContainer.bat
eslint.config.mjs
jest.config.js
*.tar

# Data
config
config-backups
data/*
docs
img
logs/*
migration/*
.env

# Test
__tests__
coverage